.white-text {
  color: #ebebeb;
  margin-bottom: 40px;
}

.subtitle-color {
  color: #ebebebb2;
  margin-bottom: 10px;
}

.animated-background {
  background: linear-gradient(17deg, #1950af, #005a5a);
  background-size: 400% 400%;

  -webkit-animation: animatedGradient 20s ease infinite;
  -moz-animation: animatedGradient 20s ease infinite;
  -o-animation: animatedGradient 20s ease infinite;
  animation: animatedGradient 20s ease infinite;
}

@-webkit-keyframes animatedGradient {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@-moz-keyframes animatedGradient {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@keyframes animatedGradient {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
