<section class="hero animated-background is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title white-text">Hi! I'm Rahul Ramkumar.</h1>
      <h2 class="subtitle subtitle-color">
        A computer science student with experience in frontend and robotics.
      </h2>
      <h2 class="subtitle subtitle-color">
        I'm fast learner who's interested into diving deeper into any technology
        I can. I'm currently excited by AI and systems programming!
      </h2>
    </div>
  </div>
  <a class="hero-foot fade-in-delay" href="#experience">
    <div class="container has-text-centered subtitle-color">
      <p>Scroll down to see more...</p>
      <span class="icon is-large">
        <i class="fas fa-2x fa-chevron-down"></i>
      </span>
    </div>
  </a>
</section>