<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Find me on
      <strong>
        <a href="https://github.com/rsquared226" target="_blank">GitHub</a>
      </strong>
      and
      <strong>
        <a href="https://www.linkedin.com/in/rahulram226/" target="_blank"
          >Linkedin</a
        > </strong
      >. Contact me at
      <strong>
        <a href="mailto:rdr5254@psu.edu" target="_blank"
          >rdr5254@psu.edu</a
        > </strong
      >.
    </p>
    <p>
      <strong
        ><a href="https://github.com/rsquared226/rsquared226.github.io"
          >Personal portfolio</a
        ></strong
      >
      designed and coded by Rahul Ramkumar using
      <a href="https://angular.io/" target="_blank">Angular</a> and
      <a href="https://bulma.io/" target="_blank">Bulma</a>.
    </p>
  </div>
</footer>
