<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h1>Rahul Ramkumar</h1>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      [ngClass]="{
        'is-active': isNavbarBurgerOpen
      }"
      aria-label="menu"
      (click)="onBurgerClick()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="{ 'is-active': isNavbarBurgerOpen }">
    <div class="navbar-start">
      <a class="navbar-item" href="#leadership">Leadership</a>
      <a class="navbar-item" href="#experience">Experience</a>
      <a class="navbar-item" href="#education">Education</a>
      <a class="navbar-item" href="#skills">Skills</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            class="button is-dark is-outlined"
            href="https://github.com/rsquared226"
            target="_blank"
          >
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
          </a>
          <a
            class="button is-link is-outlined"
            href="https://www.linkedin.com/in/rahulram226/"
            target="_blank"
          >
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span>Linkedin</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
