<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h1>Rahul Ramkumar</h1>
    </a>

    <a role="button" class="navbar-burger burger" [ngClass]="{
        'is-active': isNavbarBurgerOpen
      }" aria-label="menu" (click)="onBurgerClick()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="{ 'is-active': isNavbarBurgerOpen }">
    <div class="navbar-start">
      <!-- Can't make these their own component or it'll throw centering and stuff -->
      <a class="navbar-item" href="#leadership" (click)="closeNavbar()">
        Leadership
      </a>
      <a class="navbar-item" href="#experience" (click)="closeNavbar()">
        Experience
      </a>
      <a class="navbar-item" href="#education" (click)="closeNavbar()">
        Education
      </a>
      <a class="navbar-item" href="#skills" (click)="closeNavbar()"> Skills </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark is-outlined" href="https://github.com/rsquared226" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span class="is-hidden-desktop-only">GitHub</span>
          </a>
          <a class="button is-link is-outlined" href="https://www.linkedin.com/in/rahulram226/" target="_blank">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span class="is-hidden-desktop-only">Linkedin</span>
          </a>
          <a class="button is-info is-outlined" href="mailto:rdr5254@psu.edu" target="_blank">
            <span class="icon">
              <i class="far fa-envelope"></i>
            </span>
            <span>rdr5254@psu.edu</span>
          </a>
          <a class="button is-primary is-outlined"
            href="https://www.dropbox.com/s/gh19ojfk7icaz3q/RAMKUMAR_CS_2021SP.pdf?dl=0" target="_blank">
            <span class="icon">
              <i class="far fa-file-alt"></i>
            </span>
            <span>Resume</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>