<section class="hero is-warning is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter-widescreen is-narrow-tablet">
          <h1 class="title has-text-white has-text-centered-mobile">
            LEADERSHIP
          </h1>
        </div>

        <div class="column">
          <div class="columns is-desktop">
            <div class="column">
              <app-info-card
                imageUrl="https://hackpsu.org/assets/images/logo-daytime.svg"
                title="HackPSU"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan ligula ut mi vehicula, in pulvinar orci iaculis. Nunc ut aliquam neque. Curabitur id justo nec elit ultricies consequat. Nunc nec neque eget purus tempus aliquet. Fusce accumsan nibh leo, a euismod arcu pharetra nec. Proin feugiat metus quis imperdiet euismod. Mauris nunc urna, facilisis ac feugiat nec, interdum et diam. Praesent a scelerisque odio."
                skills="C++, Java"
              ></app-info-card>
              <br />
              <app-info-card
                title="HackPSU"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan ligula ut mi vehicula, in pulvinar orci iaculis. Nunc ut aliquam neque. Curabitur id justo nec elit ultricies consequat. Nunc nec neque eget purus tempus aliquet. Fusce accumsan nibh leo, a euismod arcu pharetra nec. Proin feugiat metus quis imperdiet euismod. Mauris nunc urna, facilisis ac feugiat nec, interdum et diam. Praesent a scelerisque odio."
                skills="C++, Java"
                generalLink="https://hackpsu.org/"
                generalLinkName="Website"
                generalFaIcon="fas fa-desktop"
              ></app-info-card>
            </div>
            <div class="column">
              <app-info-card
                imageUrl="assets/preview.png"
                title="UNICEF"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan ligula ut mi vehicula, in pulvinar orci iaculis. Nunc ut aliquam neque. Curabitur id justo nec elit ultricies consequat. Nunc nec neque eget purus tempus aliquet. Fusce accumsan nibh leo, a euismod arcu pharetra nec. Proin feugiat metus quis imperdiet euismod. Mauris nunc urna, facilisis ac feugiat nec, interdum et diam. Praesent a scelerisque odio."
              ></app-info-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
