<section class="hero is-warning is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-narrow-tablet">
          <h1 class="title has-text-white has-text-centered">
            LEADERSHIP
          </h1>
        </div>

        <div class="column">
          <app-info-card
            imageUrl="https://hackpsu.org/assets/images/logo-daytime.svg"
            title="HackPSU"
          ></app-info-card>
        </div>
        <div class="column">
          <app-info-card
            imageUrl="https://hackpsu.org/assets/images/logo-daytime.svg"
            title="HackPSU"
          ></app-info-card>
        </div>
      </div>
    </div>
  </div>
</section>
