<section class="hero is-warning is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter-widescreen is-narrow-tablet">
          <h1 class="title has-text-white has-text-centered-mobile">
            LEADERSHIP
          </h1>
        </div>

        <div class="column">
          <div class="columns is-desktop">
            <div class="column">
              <app-info-card
                imageUrl="https://hackpsu.org/assets/images/logo-daytime.svg"
                title="HackPSU"
              ></app-info-card>
            </div>
            <div class="column">
              <app-info-card
                imageUrl="assets/preview.png"
                title="UNICEF"
              ></app-info-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
