<nav class="navbar is-fixed-top is-link" role="nagivigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      Rahul Ramkumar
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
    </div>
  </div>
</nav>
<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hi! I'm Rahul Ramkumar.
      </h1>
      <h2 class="subtitle">More coming soon...</h2>
    </div>
  </div>
</section>
