<section
  [id]="sectionName.toLowerCase()"
  class="hero is-bold is-medium"
  [class]="bulmaColor"
>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter-widescreen is-narrow-tablet">
          <h1
            class="title has-text-white has-text-centered-mobile"
            [style.font-family]="fontFamily"
          >
            {{ sectionName }}
          </h1>
        </div>

        <div
          *ngIf="infoCardsDetails != null && infoCardsDetails.length > 0"
          class="column"
        >
          <div class="columns is-desktop">
            <div class="column">
              <div *ngFor="let cardDetails of firstColData()">
                <app-info-card [infoCardDetails]="cardDetails"></app-info-card>
                <br />
              </div>
            </div>
            <div class="column">
              <div *ngFor="let cardDetails of secondColData()">
                <app-info-card [infoCardDetails]="cardDetails"></app-info-card>
                <br />
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="skillCardsDetails != null && skillCardsDetails.length > 0"
          class="column"
        >
          <div class="columns is-multiline is-mobile">
            <div
              *ngFor="let cardDetails of skillCardsDetails"
              class="column is-one-quarter-fullhd is-one-third-widescreen is-one-third-desktop is-one-third-tablet is-half-mobile"
            >
              <app-skills-card
                [skillCardDetails]="cardDetails"
              ></app-skills-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
