<div class="card">
  <div *ngIf="imageUrl != null" class="card-image">
    <figure class="image is-2by1">
      <img [src]="imageUrl" alt="{{ title }} logo" />
    </figure>
  </div>
  <div class="card-content">
    <h1 class="title">
      {{ title }}
    </h1>
    <div class="content">
      <p *ngIf="description != null" class="subtitle description">
        {{ description }}
      </p>
      <p *ngIf="skills != null" class="skills">Skills: {{ skills }}</p>
      <div
        *ngIf="githubLink != null || generalLink != null"
        class="field is-grouped"
      >
        <!-- TODO: Make this a component for gh button -->
        <a
          *ngIf="generalLink != null && generalLinkName != null"
          class="button is-link"
          [href]="generalLink"
          target="_blank"
        >
          <span *ngIf="generalFaIcon != null" class="icon">
            <i [class]="generalFaIcon"></i>
          </span>
          <span>{{ generalLinkName }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
