<div class="card">
  <div *ngIf="infoCardDetails.imageUrl != null" class="card-image">
    <figure class="image is-2by1">
      <img
        [src]="infoCardDetails.imageUrl"
        alt="{{ infoCardDetails.title }} logo"
      />
    </figure>
  </div>
  <div class="card-content">
    <h1 class="title">
      {{ infoCardDetails.title }}
    </h1>

    <div
      *ngIf="infoCardDetails.role != null || infoCardDetails.dates != null"
      class="columns mb-0"
    >
      <p
        class="column is-narrow subtitle role-date mb-0 pb-0 pt-0 pr-0"
        *ngIf="infoCardDetails.role != null"
      >
        {{ infoCardDetails.role }}
      </p>

      <!-- This is there as a spacer between the role and the dates -->
      <div class="column pb-0 pt-0 pr-0 pl-0"></div>

      <p
        *ngIf="infoCardDetails.dates != null"
        class="column is-narrow subtitle role-date mb-0 pb-0 pt-0"
      >
        {{ infoCardDetails.dates }}
      </p>
    </div>

    <div class="content">
      <ul
        *ngIf="
          infoCardDetails.descriptionPoints != null ||
          infoCardDetails.descriptionPoints.length != 0
        "
        class="subtitle description mb-0"
      >
        <li *ngFor="let point of truncatedList()">
          {{ point }}
        </li>
      </ul>
      <a
        *ngIf="infoCardDetails.descriptionPoints.length > 4"
        (click)="toggleDescriptionTruncation()"
      >
        {{ isDescriptionTruncated ? "Show more…" : "Show less…" }}
      </a>

      <div
        *ngIf="infoCardDetails.skills != null"
        class="skills columns is-mobile is-gapless mt-4 mb-0"
      >
        <p class="column is-narrow mr-2 ml-1">Skills:</p>
        <p class="column">{{ infoCardDetails.skills }}</p>
        <p></p>
      </div>

      <div
        *ngIf="
          infoCardDetails.githubLink != null ||
          infoCardDetails.generalLink != null
        "
        class="buttons mt-4"
      >
        <app-link-button
          [link]="infoCardDetails.generalLink"
          [linkName]="infoCardDetails.generalLinkName"
          [faIcon]="infoCardDetails.generalFaIcon"
          bulmaColor="is-link"
        ></app-link-button>
        <app-link-button
          [link]="infoCardDetails.githubLink"
          linkName="Repo"
          faIcon="fab fa-github"
          bulmaColor="is-dark"
        ></app-link-button>
      </div>
    </div>
  </div>
</div>
